.row {
    display: flex;
    justify-content: space-between;
    /*gap: 1px;*/
    width: 100%;
    height: 100%;
    box-sizing:content-box;
}

.container {
    display: flex;
    flex-direction: column;
    /*gap: 1px;*/
    border: 1px solid black;
    height: 80vh;
    width: 80vh;
    justify-content: space-between;
    /*justify-content: space-between;
    align-items: space-between;*/
}

.row div {/*invidual boxes*/
    /*creates border around each square in the grid
    by selecting all <div>s that are nested in a 
   <div> of class "row".*/
    border: 1px solid black;
    width: 100%;
    height: 100%;
    flex: 1 1 1;
    box-sizing:content-box;
}


/*cause body to fill up the entire screen,
  use that to center the grid at the middle of the page*/
body {
    margin: 0;
    height: 100vh;
    /*width: 100wh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hovered {
    background-color: black;
}